@charset "utf-8";
body {
    
    font-family: "Hiragino Kaku Gathic ProN","ヒラギノ角ゴ ProN" ;
    text-align: center;
    
}
body{
    font-size: 20px;
}
h1{
    color: #1812cf;
    background-color: rgb(255, 226, 80);
}
h2{
    background-color: rgb(255, 80, 95);
}
h3{
    color: #cf5412;
}

p{
    color: #cf1212;
    line-height:  48px;
    text-align: center;
}
